# FOR LOGIN PAGE
email_login=your@email.com
password_login=your_password

# FOR FORM PAGE
first_name=your_first_name
last_name=your_last_name
sex=Male
passport_number=KH12313
passport_year=25/02/2025
country_code=375
phone_number=295045955
your_email=example@example.com

# APPOINTMENT PARAMETERS
appointment_center=Poland Visa Application Center-Grodno
appointment_category=National D Visa
appointment_subcategory=D- Karta Polaka
nationality=POLAND
birth_day=06/01/2007
